<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-content">
            <h2><%= cocktail.name %></h2>
            <img src="https://www.maliburumdrinks.com/globalassets/images/cocktail-recipe-images/malibu-island-cosmo.png/" alt="cocktail" width="200">
          </div>
          <div class="cocktail-links">
            <%= link_to 'more info', cocktail_path(cocktail.id) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
