<div class="navbar">
  <div class="navbar-title">
    <div class="navbar-logo">
      <%= image_tag "logo.png", alt: "Cocktail kit", width: 70 %>
    </div>
    <p>COCKTAIL KIT</p>
  </div>
  <div class="navbar-links">
    <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
